.logo {
  background-color: $darkColor;
  width: 80px;
  //   border: 1px solid red;
  padding: 1em;

  img {
    width: 100%;
    display: block;
  }
}

.logo-large {
  background-color: #1f1f1f;
  width: 35%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  img {
    width: 100%;
    display: block;
  }
}

.col-3 {
  display: flex;
}

.homepage-overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #222;
  opacity: 1;
}

.customerHeader {
  display: flex;
}

.customerCard {
  padding: 30px;
  background-color: #fcfcfc;
  border-radius: 6px;
  box-shadow: 0 2px 16px rgba(#000, 0.14);
  h2 {
    margin-top: 0;
  }
}

.orderBlock {
  padding: 30px;
  h3 {
    margin-top: 0;
  }
}
