header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $darkColor;
}

nav {
  background-color: $darkColor;
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.nav-items {
  font-size: 1em;
  font-weight: 700;
  font-family: "Sarabun", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  // transition: all .5s ease-in;
}

.nav-items li {
  padding: 1em;
  text-align: center;
}

.nav-items li a {
  color: $darkColor;
  background-color: $lightColor;
  border-radius: 8px;
  padding: 8px 30px;
  text-decoration: none;

  transition: all 0.2s ease-out;
  font-weight: 700;

  // @media screen and (min-width: 680px) {
  //   border-top-right-radius: 15px;
  //   border-top-left-radius: 15px;
  // }
}

.nav-items li a:hover {
  // color: $thirdColor;
  // text-decoration: underline;
  background-color: #eee;
}

.format-duration {
  color: white;
}
