/* COLORS */
$primaryColor: #3f72af;
$secondaryColor: #112d4e;
$thirdColor: #dbe2ef;

$lightColor: #f9f7f7;

// Fonts
$base-font-family: 'Oxygen', sans-serif;
$heading-font-family: 'Fjalla One', sans-serif;
